.company-container {
    flex: 1 0 calc(10% - 10px);
    background-color: #323232;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.1s;
    padding: 20px 0;
}


.company-container:hover {
    background-color: #292929;
    transform: scale(1.05);
}



.logo-container {
    padding: 20px 0;
    overflow: hidden;
    padding-bottom: 0;

}

.logo-container img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 5px;

}


.text-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.text-container h1 {
    margin: 5px 0;
    padding: 0 5px;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 768px) {
    .company-container {
        flex: 0 0 200px;
    }
}