.Features-container {
    margin: 10px 0;
    transition: 0.1s;
    overflow: hidden;
    border-radius: 5px;
}

.Features-container:hover {
    transform: scale(1.1);
    background-color: #292929;
}

.Features-container img {
    width: 75px;
    margin: 10px 0 0 0;
    padding: 0;
}

.Features-container h4 {
    font-size: 1.3rem;
    color: #0071BC;
    margin: 10px 0;
}

.Features-container p {
    font-size: 1rem;
    color: #F6F4F4;
    margin: 0 0 10px 0;
}